@font-face {
    font-family: 'iran Yekan';
    src: url('../Fonts/iranyekanwebmedium.eot');
    src: url('../Fonts/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'), url('../Fonts/iranyekanwebmedium.woff') format('woff'), url('../Fonts/iranyekanwebmedium.ttf') format('truetype'),
        url('../Fonts/iranyekanwebmedium.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'iran Sans';
    src: url('../Fonts/IRANSansWeb.woff');
    src: url('../Fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), url('../Fonts/IRANSansWeb.woff2') format('woff2'), url('../Fonts/IRANSansWeb.woff') format('woff'),
        url('../Fonts/IRANSansWeb.ttf') format('truetype');
}
